/target/
!.mvn/wrapper/maven-wrapper.jar
.mvn

.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

.idea
*.iws
*.iml
*.ipr

/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

/APP_LOG_IS_UNDEFINED

target

._*
*.pth
